<main>
  <div class="container">
       
       <div class="middle">
          <form (submit)="addPost(description.value)">
              <div class="createPost">
                <h3 class="mini-heading">Create Post</h3>
                  <input type="text" placeholder="What's on your mind? NAME" #description> 

                <div class="post-icon">                             
                    <label for="attachment" id="attatchmentLabael"  class="custom-file-input">
                      <i class="fa-regular fa-file"></i>
                      File
                      <input type="file" id="attachmentInput">  
                    </label>
                    <span class="">

                    </span>
                  <input type="submit" value="Post" class="btn btn-primary  ">
                </div>
              </div>

            </form>
      



      <div class="feeds">
        <div class="feed">            
              <div class="head">
                  <div class="user">
                      <div class="info">
                          <h3>NAMEhhh</h3>
                          <small> TIME</small>
                      </div>
                  </div>
                  <span class="edit">
                      <i class="uil uil-ellipsis-h"></i>
                  </span>
              </div>

              <div class="photo">
                  LENA EL CONTENT
              </div>

              <div class="action-buttons">
                  <div class="interaction-buttons">
                      <span><i class="uil uil-heart"></i></span>
                      <span><i class="uil uil-comment-dots"></i></span>
                  </div>
              </div>


              <div class="caption">
                  <p><b>Lana Rose</b> Calendrier des devoirs de controle
                  <span class="harsh-tag">#lifestyle</span></p>
              </div>

            
          </div>
      </div>
    </div>

    <div class="right">
      <div class="calen">
        <!-- <app-calendrier></app-calendrier> -->
      </div>
    </div>
  </div>
</main>