import { Component, HostListener } from '@angular/core';
import { NavigationEnd, Router, RouterModule } from '@angular/router';


@Component({
  selector: 'app-sidebar',
  standalone: true,
  imports: [RouterModule],
  templateUrl: './sidebar.component.html',
  styleUrl: './sidebar.component.css'
})
export class SidebarComponent {
  activeMenuItem!: string;

  constructor(private router: Router) {
    this.router.events.subscribe(event => {
      if (event instanceof NavigationEnd) {
        this.updateActiveMenuItem(event.urlAfterRedirects);
      }
    });
  }

  toggleMenuItem(menuItem: string): void {
    this.activeMenuItem = menuItem;
  }

  private updateActiveMenuItem(url: string): void {
    if (url.includes('/userInter/fyp')) {
      this.activeMenuItem = 'home';
    } else if (url.includes('/userInter/espaceClasse')) {
      this.activeMenuItem = 'espaceClasse';
    } else if (url.includes('/userInter/profile')) {
      this.activeMenuItem = 'profile';
    } else if (url.includes('/userInter/setting')) {
      this.activeMenuItem = 'setting';
    }
  }


}


